@using ElectronicsStoreApp.ViewModels;

@model IndexVewModel

@if (TempData.ContainsKey("status"))
{
    {

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Messages!</strong>@TempData["status"].
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@if (Model.Products != null && Model.Products.Count() > 0)
{
    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var item in Model.Products)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <h3 class="text-center">@item.Title</h3>
                            <img class="card-img" src="@item.ImageUrl" width="100%" height="345" alt="...">
                            <h4 class="text-center">@item.Price Rubles</h4>
                            <h6 class="text-center">The @item.Year model</h6>
                            <div class="card-body">
                                <p class="card-text">@Html.Raw(@item.Description)...</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                                        <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    </div>
                                    <div>
                                        <small class="text-body-secondary">@item.Category.Name</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

